{% extends 'base.html' %}

{% block content %}
    <div class="col-lg-12 center">
        <div class="card card-primary">
            <div class="card-header">
                <div class="card-title">
                    Cadastrar cliente
                </div>
            </div>            
            <!-- <form action="{% if cliente %}/cliente/update/{{ cliente.id }}/ {% else %}/cliente/create/{% endif %}"
            method="POST"> -->
            <form action="{% if cliente %}/cliente/update/{{ cliente.id }}/{% else %}/cliente/create/{% endif %}" method="POST">
                {% csrf_token %}
                {{form}}
                <div class="card-footer">
                    <button type="submit" class="btn btn-primary">Salvar</button>
                    <a href="{% url 'cliente' %}" class="btn btn-danger float-right"
                    >Cancelar</a
                    >
                </div>
            </form>
        </div>
    </div>
{% endblock %}